%header.navbar.navbar-fixed-top.navbar-inverse
  .container.class-name-in-header
    = link_to t('.logo_title'), root_path, id: 'logo'
    .rails_logo
      = link_to image_tag('rails.png', alt: 'Rails logo')

%nav
  %ul.nav.navbar-nav.pull-right
    %li= link_to t('.home'), root_path
    %li= link_to t('.help'), root_path
    - if signed_in?
    %li.logged
      #{current_user.email}
    = gravatar_for current_user